# Виртуальное окружение и кэш
venv/
__pycache__/

# Загруженные медиафайлы
downloads/

# Файлы очередей и ошибок (чтобы не тянуть их при восстановлении)
*.txt
# Исключение: разрешаем requirements.txt
!requirements.txt